html {
  font-family: 'Quicksand', sans-serif;
}

.h {
  font-family: 'Quicksand', sans-serif;
  color: #000;
  font-weight: 500;
}

.grey {
  color: #9a9a9a;
}

.black {
  color: #000;
}

h1 {
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
}

h2 {
  color: #fff;
  font-weight: 300;
  font-stretch: normal;
  text-decoration: none;
  text-align: center;
}

h3 {
  color: #7904dd;
  font-weight: 300;
  font-stretch: normal;
  text-decoration: none;
}

.purple {
  color: #7904dd;
}

p {
  color: #9a9a9a;
  font-weight: 300;
  font-stretch: normal;
}

a {
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  color: #7904dd;
}

.nav-a {
  color: #7904dd;
  font-family: HelveticaNeue-thin, helvetica, sans-serif;
  text-decoration: none;
}

.home-icon {
  max-width: 80%;
  margin: auto;
}

.review-icon {
  max-width: 50%;
}

.banner {
  background-image: url(../images/banner.jpg);
  background-size: 250vh;
  background-position: center;
  min-height: 90vh;
}

nav a:hover {
  color: #c1a3db;
}

.button {
  text-decoration: none;
  border-radius: 3px;
  color: #fff;
  background-color: #b660ff;
  font-weight: 400;
  border: 2px solid #b660ff;
  display: block;
  display: inline-block;
}

.button:hover {
  color: #b660ff;
  background-color: transparent;
  border: 2px solid #b660ff;
}

.section2 {
  background-color: #f0e4f0;
}

.arttitle {
  color: #000;
}

footer {
  border-top: 1px solid #95989a;
}

header {
  border-bottom: 1px solid #95989a;
}

.logo {
  margin: 0 auto;
}

.wrapper {
  font-family: HelveticaNeueultralight, HelveticaNeue-Ultralight, "Helvetica Neue Ultra Light", HelveticaNeue, "Helvetica Neue", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
  font-weight: 300;
}

.wrapper p {
  color: #fff;
  font-style: italic;
  font-stretch: normal;
}

.thanks {
  min-height: 70vh;
}

.thanks-phrase {
  padding-top: 20vh;
}

.wrapper h2 {
  font-stretch: normal;
}

select {
  font-weight: 300;
  font-stretch: normal;
}

input {
  font-weight: 300;
  font-stretch: normal;
}

.text,
.numbertext {
  font-weight: 300;
  font-stretch: normal;
}

fieldset {
  border: none;
}

.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
  max-height: 50%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: .6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, .8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #7904dd;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color .6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {

  from { opacity: .4; }

  to { opacity: 1; }

}

@keyframes fade {

  from { opacity: .4; }

  to { opacity: 1; }

}

th {
  border: 1px solid #fff;
  height: 4em;
  max-width: 6em;
  background-color: #a994c0;
  color: #fff;
  font-weight: 300;
  font-stretch: normal;
}

.corner {
  color: #a994c0;
}

.free {
  color: #f0e4f0;
}

td {
  border: 1px solid #fff;
  height: 4em;
  max-width: 6em;
  background-color: #f0e4f0;
  color: #7904dd;
  font-weight: 300;
  font-stretch: normal;
}

table {
  max-width: 35em;
  margin-left: auto;
  margin-right: auto;
}

.statement {
  margin-left: auto;
  margin-right: auto;
}

@keyframes arrow-float {
  0%, 20%, 40% {transform: translateY(0);}
  10%, 30% {transform: translateY(-.4em);}
}

.arrow-float {
  animation-name: arrow-float;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  height: 3em;
}
